{% extends 'blog/base.html' %}

{% block contents %}
    <div class="post">             
        <h1>{{ post.title }}</h1>
        {% if post.published_date %}
        <div class="date">
            <p>{{ post.author }} | {{ post.published_date }}</p>
        </div>
        {% else %}
            <p>{{ post.author }} | {{ post.published_date }}</p>
            <a href="{% url 'post_publish' pk=post.pk %}">Publish!</a>
        {% endif %} 
        <p>{{ post.text|linebreaksbr }}</p>
        {% if user.is_authenticated %}
            {% if post.author == user %}
            <a href="{% url 'post_edit' pk=post.pk %}">edit</a>
             | 
            <a href="{% url 'post_delete' pk=post.pk %}" id="delete">delete</a>
             | 
            {% endif %}
        {% endif %}
        <a href="{% url 'post_list' %}">back to home</a>
    </div>
    <hr>
    <a href="{% url 'add_comment_to_post' pk=post.pk%}" class="btn btn-default">Add Comment</a>
    {% for comment in post.comments.all %}
        
        <div class="comment">
            <div class="date">
                {{ comment.create_date }}

                {% if user.is_authenticated %}
                    {% if post.author == user %}
                        <a href="{% url 'comment_delete' pk=comment.pk %}" id="comment_delete">delete</a>
                        | 
                        <a href="{% url 'comment_edit' pk=comment.pk %}">edit</a> 
                    {% endif %}
                {% endif %}
            </div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
        
    {% empty %}
        <p>No comments here yet :( </p>
    {% endfor %}

    <script>
        $('#delete, #comment_delete').click(function(){
            // alert('sfd');
            if (confirm('Are you sure?') == true) {
    
            } else {
                return false;
            }
        });
    </script>

{% endblock %}


